<div class="row">
    <div class="col-sm-6">
        <form
        action='/resources/create'
        method="post">

        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ resource.title }}">
        </div>

        <div class="form-group">
            <textarea class="form-control" name="description" id="description" rows="6">{{ resource.description}}</textarea>
        </div>

        <button type="submit" class="btn btn-success">Share</button>
        </form>
    </div>
</div>