<div class="inner-wrap">
    <div class="card">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
        <p>{{description}} </p>
        </blockquote>
        <p>- {{user.name}} </p>
    </div>

    </div>
</div>