body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


* {
  color: rgba(0,0,0,.7);
}

.body-wrap {
   padding: 40px 0;

}

.max-container {
  max-width: 1800px;
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

.wrap {
  margin: 30px 0;
}

.inner-wrap {
  margin: 15px;
}

img {
  max-width: 100%;
}

a {
  color: rgba(0, 0, 0, 0.9);

}

.btn-sm {
  padding: 8px;
}

.btn-default {
  background: transparent;
  color: rgba(0, 0, 0, 0.9);
  border-color: rgba(0, 0, 0, 0.1);
  box-shadow: none;
}

input#like {
  background: transparent;
  border: 0;
}

.welcome-container, .user-details-container {
    padding-top: 25px;
    height: 320px;
}

.welcome-container h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}


 h2 {
    font-weight: semi-bold;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
}

.btn {
  font-family: 'Montserrat', sans-serif;
}

.background::before {
  content: "";
  background-image: url('../images/background.jpg');
  background-size: 60%;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 360px;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.background::after {
  content: "";
  height: 2px;
  background-color:  #5e72e457;
  top: 420px;
  left: 0;
  right: 0;
  position: absolute;
}

.create-background::before {
  bottom: 0;
}

.create-background::after {
  height: 0;
}

.btn-welcome {
  min-width: 240px;
}

.posts-container {
  margin-top: 40px;
}

.btn-like {
  padding: 0;
  border: 0;
  background: transparent;
}
.inline-block {
  display: inline-block;
}

.tag-description {
  height: 55px;
}

/* change markdown editor styles */
.CodeMirror {
  border: 1px solid #cad1d7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 250px;
  background: white;
}

.editor-toolbar {
  border: 1px solid #cad1d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: white;
}

.editor-toolbar:before, .editor-toolbar:after {
  content: "";
  background:transparent;
  background-color:transparent;
}

.pagination i {
  font-size: 18px;

}

.pagination i:first-child {
  margin-left: 10px;
  
}