body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.wrap {
  margin: 30px 0;
}

.inner-wrap {
  margin: 15px;
}

img {
  max-width: 100%;
}

.btn-sm {
  padding: 8px;
}

.btn-default {
  background: transparent;
  color: rgba(0, 0, 0, 0.9);
  border-color: rgba(0, 0, 0, 0.1);
  box-shadow: none;
}

input#like {
  background: transparent;
  border: 0;
}

.inline-block {
  display: inline-block;
}