<div>
    <h1 class="text-center">
        Welcome to Hackoverflow!
    </h1>
    <div class="wrap">
        <div class="row justify-content-center">
            <div class="col text-center">
                <h2>
                    Questions
                </h2>
                <a class="btn btn-success" href="/questions/create">
                    Ask a question
                </a>
            </div>
            <div class="col text-center">
                <h2>
                    Resources
                </h2>
                <a class="btn btn-success" href="/resources/create">
                    Share something useful
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="text-right">
            <i class="fas fa-sort"></i>
            <span class="btn-sm btn-default btn order-rating">rating</span>
        </div>
        <div class="questions-wrap">
            {{> questions/list}}
        </div>
    </div>
    
    <div class="col">
        <div class="text-right">
            <i class="fas fa-sort"></i>
            <span class="btn-sm btn-default btn order-rating">rating</span>
        </div>
        <div class="resources-wrap">
        {{> resources/list}}
        </div>
    </div>
</div>